# Indicadores de calidad en salud

## Librerías

In [113]:
import pandas as pd
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [114]:
import os
#Crear los directorios para almacenar los datos
# Definir una lista con los nombres de los departamentos
departamentos = [   'Amazonas', 'Antioquia', 'Arauca', 'Atlántico', 'Bogotá', 'Bolívar', 'Boyacá',
                    'Caldas', 'Caquetá', 'Casanare', 'Cauca', 'Cesar', 'Chocó', 'Córdoba', 'Cundinamarca',
                    'Guainía', 'Guaviare', 'Huila', 'La Guajira', 'Magdalena', 'Meta', 'Nariño', 
                    'Norte de Santander', 'Putumayo', 'Quindío', 'Risaralda', 'San Andrés y Providencia', 
                    'Santander', 'Sucre', 'Tolima', 'Valle del Cauca', 'Vaupés', 'Vichada']
categorias = ['Efectividad','Experiencia de la atencion','Gestión del riesgo','Seguridad']
# Iterar sobre la lista y crear un directorio para cada departamento
for departamento in departamentos:
    try:
        path="./data/IndicadoresIPS/"
        # Usar el nombre del departamento como el nombre del directorio
        os.mkdir(path+departamento)
        path=path+departamento+"/"
        for cat in categorias:
            os.mkdir(path+cat)
    except:
        pass

In [115]:
departamentos = ['Amazonas', 'Antioquia', 'Arauca', 'Atlántico', 'Bogotá', 'Bolívar', 'Boyacá', 'Caldas', 'Caquetá', 'Casanare', 'Cauca', 'Cesar', 'Chocó', 'Córdoba', 'Cundinamarca', 'Guainía', 'Guaviare', 'Huila', 'La Guajira', 'Magdalena', 'Meta', 'Nariño', 'Norte de Santander', 'Putumayo', 'Quindío', 'Risaralda', 'San Andrés y Providencia', 'Santander', 'Sucre', 'Tolima', 'Valle del Cauca', 'Vaupés', 'Vichada']

df_efectividad=pd.DataFrame()


for dpto in departamentos:
        for i in range(0,24):
            try:                
                df=pd.read_csv("./data/IndicadoresIPS/"+dpto+"/Efectividad/IndicadoresIPS-Efectividad-Resol256-"+str(i)+".csv", skiprows=3)
                df_efectividad=pd.concat([df_efectividad,df],axis=0)
            except FileNotFoundError:
                pass

In [116]:
df_atencion=pd.DataFrame()

for dpto in departamentos:
        for i in range(0,14):
            try:                
                df=pd.read_csv("./data/IndicadoresIPS/"+dpto+"/Experiencia de la atencion/IndicadoresIPS-ExperienciaAtencion-Resol256-"+str(i)+".csv", skiprows=3)
                df_atencion=pd.concat([df_atencion,df],axis=0)
            except FileNotFoundError:
                pass

In [117]:
df_seguridad=pd.DataFrame()

for dpto in departamentos:
        for i in range(0,12):
            try:                
                df=pd.read_csv("./data/IndicadoresIPS/"+dpto+"/Seguridad/IndicadoresIPS-Seguridad-Resol256-"+str(i)+".csv", skiprows=3)
                df_seguridad=pd.concat([df_seguridad,df],axis=0)
            except FileNotFoundError:
                pass

In [118]:
#Cambiamos los indices anterirores por los nuevos
df_efectividad.reset_index(inplace=True,drop=True)
df_atencion.reset_index(inplace=True,drop=True)
df_seguridad.reset_index(inplace=True,drop=True)

# Limpieza de datos

## Efectividad

In [119]:
df_efectividad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6584 entries, 0 to 6583
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Indicador     6584 non-null   object
 1   CodDepto      6584 non-null   int64
 2   Departamento  6584 non-null   object
 3   CodMunicipio  6584 non-null   int64
 4   Municipio     6584 non-null   object
 5   IPS           6584 non-null   object
 6   Factor        6584 non-null   int64
 7   UnidadMedida  6584 non-null   object
 8   Fecha         6584 non-null   int64
 9   Numerador     6515 non-null   object
 10  Denominador   6584 non-null   object
 11  Textbox2      6584 non-null   object
dtypes: int64(4), object(8)
memory usage: 617.4+ KB

Primero eliminamos columnas que no son utilizadas en el análisis o bien que no tienen información relevante, de esta manera se reduce el tamaño del dataset y se facilita el análisis. Asi eliminamos las siguientes columnas:
* ***CodMunicipio***: este codigo no es necesario ya que este valor siempre es cero debido a que los datos se tomaron por departamento
* ***Municipio***: este valor no es necesario ya que este valor siempre es TOTAL debido a que los datos se tomaron por departamento
* ***IPS***: estte valor no es necesario ya que este valor siempre es total debido a que los datos se tomaron por departamento

In [120]:
df_efectividad.drop(columns=['CodMunicipio','Municipio','IPS'],inplace=True)

In [121]:
df_efectividad.head()

,Indicador,CodDepto,Departamento,Factor,UnidadMedida,Fecha,Numerador,Denominador,Textbox2
0,Proporción de niños y niñas menores de 18 mese...,91,91 - Amazonas,100,Porcentaje,2018,"0,00","1,00","0,00"
1,Proporción de niños y niñas menores de 18 mese...,91,91 - Amazonas,100,Porcentaje,2019,"0,00","1,00","0,00"
2,Proporción de niños y niñas menores de 18 mese...,91,91 - Amazonas,100,Porcentaje,2020,"0,00","2,00","0,00"
3,Proporción de mujeres a las que se les realizó...,91,91 - Amazonas,100,Porcentaje,2015,"0,00","1,00","0,00"
4,Proporción de mujeres a las que se les realizó...,91,91 - Amazonas,100,Porcentaje,2016,"33,00","38,00","86,84"

Tomar el nombre del departamento

In [122]:
df_efectividad['Departamento']=df_efectividad['Departamento'].str.split(" - ").str[1]

In [123]:
df_efectividad.head()

,Indicador,CodDepto,Departamento,Factor,UnidadMedida,Fecha,Numerador,Denominador,Textbox2
0,Proporción de niños y niñas menores de 18 mese...,91,Amazonas,100,Porcentaje,2018,"0,00","1,00","0,00"
1,Proporción de niños y niñas menores de 18 mese...,91,Amazonas,100,Porcentaje,2019,"0,00","1,00","0,00"
2,Proporción de niños y niñas menores de 18 mese...,91,Amazonas,100,Porcentaje,2020,"0,00","2,00","0,00"
3,Proporción de mujeres a las que se les realizó...,91,Amazonas,100,Porcentaje,2015,"0,00","1,00","0,00"
4,Proporción de mujeres a las que se les realizó...,91,Amazonas,100,Porcentaje,2016,"33,00","38,00","86,84"

In [124]:
df_efectividad.dropna(inplace=True)

In [125]:
df_efectividad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6515 entries, 0 to 6583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Indicador     6515 non-null   object
 1   CodDepto      6515 non-null   int64
 2   Departamento  6515 non-null   object
 3   Factor        6515 non-null   int64
 4   UnidadMedida  6515 non-null   object
 5   Fecha         6515 non-null   int64
 6   Numerador     6515 non-null   object
 7   Denominador   6515 non-null   object
 8   Textbox2      6515 non-null   object
dtypes: int64(3), object(6)
memory usage: 509.0+ KB

In [126]:
columnas=['Textbox2','Numerador','Denominador']
for c in columnas:
    df_efectividad[c]=df_efectividad[c].str.replace('.','',regex=True)
    df_efectividad[c]=df_efectividad[c].str.replace(',','.',regex=True)

In [127]:
def get_periodo(periodo):
    if len(periodo)==4:
        periodo+='12'
    return periodo[0:4]+'-'+periodo[4:6]
df_efectividad['Fecha']=df_efectividad['Fecha'].astype(str).apply(get_periodo)

# Atención

In [128]:
df_atencion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7377 entries, 0 to 7376
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Indicador     7377 non-null   object
 1   CodDepto      7377 non-null   int64
 2   Departamento  7377 non-null   object
 3   CodMunicipio  7377 non-null   int64
 4   Municipio     7377 non-null   object
 5   IPS           7377 non-null   object
 6   Factor        7377 non-null   int64
 7   UnidadMedida  7377 non-null   object
 8   Fecha         7377 non-null   int64
 9   Numerador     7377 non-null   object
 10  Denominador   7377 non-null   object
 11  Textbox11     7377 non-null   object
dtypes: int64(4), object(8)
memory usage: 691.7+ KB

In [129]:
df_atencion.drop(columns=['CodMunicipio','Municipio','IPS'],inplace=True)

In [130]:
df_atencion['Departamento']=df_atencion['Departamento'].str.split(" - ").str[1]

In [131]:
df_atencion.head()

,Indicador,CodDepto,Departamento,Factor,UnidadMedida,Fecha,Numerador,Denominador,Textbox11
0,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20170630,"17.651,00","7.836,00","2,25"
1,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20171231,"16.479,00","5.765,00","2,86"
2,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20180630,"24.869,00","9.474,00","2,62"
3,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20181231,"11.237,00","4.035,00","2,78"
4,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20190630,"17.928,00","8.124,00","2,21"

In [132]:
df_atencion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7377 entries, 0 to 7376
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Indicador     7377 non-null   object
 1   CodDepto      7377 non-null   int64
 2   Departamento  7377 non-null   object
 3   Factor        7377 non-null   int64
 4   UnidadMedida  7377 non-null   object
 5   Fecha         7377 non-null   int64
 6   Numerador     7377 non-null   object
 7   Denominador   7377 non-null   object
 8   Textbox11     7377 non-null   object
dtypes: int64(3), object(6)
memory usage: 518.8+ KB

In [133]:
df_atencion.head()

,Indicador,CodDepto,Departamento,Factor,UnidadMedida,Fecha,Numerador,Denominador,Textbox11
0,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20170630,"17.651,00","7.836,00","2,25"
1,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20171231,"16.479,00","5.765,00","2,86"
2,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20180630,"24.869,00","9.474,00","2,62"
3,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20181231,"11.237,00","4.035,00","2,78"
4,Tiempo promedio de espera para la asignación d...,91,Amazonas,1,Días,20190630,"17.928,00","8.124,00","2,21"

In [134]:
columnas=['Textbox11','Numerador','Denominador']
for c in columnas:
    df_atencion[c]=df_atencion[c].str.replace('.','',regex=True)
    df_atencion[c]=df_atencion[c].str.replace(',','.',regex=True)

In [135]:
def get_periodo(periodo):
    return periodo[0:4]+'-'+periodo[4:6]
df_atencion['Fecha']=df_atencion['Fecha'].astype(str).apply(get_periodo)

df_atencion['Fecha'].unique()

array(['2017-06', '2017-12', '2018-06', '2018-12', '2019-06', '2019-12',
       '2020-03', '2020-06', '2020-09', '2020-12', '2021-03', '2021-06',
       '2021-09', '2021-12', '2022-03', '2022-06', '2022-09', '2022-12'],
      dtype=object)

# Seguridad

In [136]:
df_seguridad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6131 entries, 0 to 6130
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Indicador     6131 non-null   object
 1   CodDepto      6131 non-null   int64
 2   Departamento  6131 non-null   object
 3   CodMunicipio  6131 non-null   int64
 4   Municipio     6131 non-null   object
 5   IPS           6131 non-null   object
 6   UCI           1053 non-null   object
 7   Factor        6131 non-null   int64
 8   UnidadMedida  6131 non-null   object
 9   Fecha         6131 non-null   int64
 10  Numerador     6025 non-null   object
 11  Denominador   6025 non-null   object
 12  Textbox6      6023 non-null   object
dtypes: int64(4), object(9)
memory usage: 622.8+ KB

Una de las variables que no es de nuestro interes es *UCI* esa es una deseagregación a nivel de unidad de cuidados intensivos que esta presente solo para algunos indicadores por loq ue para otros indicadores su valor es nulo. Por lo tanto se elimina esta columna.

In [137]:
df_seguridad["UCI"].unique()

array([nan, 'UCIA', 'UCIN', 'UCIP'], dtype=object)

In [138]:
df_seguridad.drop(columns=['CodMunicipio','Municipio','IPS', 'UCI'],inplace=True)

In [139]:
df_seguridad.dropna(inplace=True)

In [140]:
df_seguridad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6023 entries, 0 to 6130
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Indicador     6023 non-null   object
 1   CodDepto      6023 non-null   int64
 2   Departamento  6023 non-null   object
 3   Factor        6023 non-null   int64
 4   UnidadMedida  6023 non-null   object
 5   Fecha         6023 non-null   int64
 6   Numerador     6023 non-null   object
 7   Denominador   6023 non-null   object
 8   Textbox6      6023 non-null   object
dtypes: int64(3), object(6)
memory usage: 470.5+ KB

In [141]:
df_seguridad.head()

,Indicador,CodDepto,Departamento,Factor,UnidadMedida,Fecha,Numerador,Denominador,Textbox6
0,Tasa de caída de pacientes en el servicio de h...,91,Amazonas,1000,Tasa,201706,"1,00","298,00","3,36"
1,Tasa de caída de pacientes en el servicio de h...,91,Amazonas,1000,Tasa,201712,"0,00","1.051,00","0,00"
2,Tasa de caída de pacientes en el servicio de h...,91,Amazonas,1000,Tasa,201806,"0,00","2.063,00","0,00"
3,Tasa de caída de pacientes en el servicio de h...,91,Amazonas,1000,Tasa,201812,"0,00","3.545,00","0,00"
4,Tasa de caída de pacientes en el servicio de h...,91,Amazonas,1000,Tasa,201906,"2,00","4.303,00","0,46"

In [142]:
columnas=['Textbox6','Numerador','Denominador']
for c in columnas:
    df_seguridad[c]=df_seguridad[c].str.replace('.','',regex=True)
    df_seguridad[c]=df_seguridad[c].str.replace(',','.',regex=True)

In [143]:
def get_periodo(periodo):
    if len(periodo)==4:
        periodo+='12'
    return periodo[0:4]+'-'+periodo[4:6]
df_seguridad['Fecha']=df_seguridad['Fecha'].astype(str).apply(get_periodo)

df_seguridad['Fecha'].unique()

array(['2017-06', '2017-12', '2018-06', '2018-12', '2019-06', '2019-12',
       '2020-03', '2020-06', '2020-09', '2020-12', '2021-03', '2021-06',
       '2021-09', '2021-12', '2022-03', '2022-06', '2022-09', '2022-12',
       '2016-12'], dtype=object)

In [144]:
#df_seguridad['Departamento']=df_seguridad['Departamento'].str.split(" - ").str[1]

In [145]:
def get_departamento(departamento):
    if len(departamento.split(" - "))>1:
        return departamento.split(" - ")[1]
    return departamento

df_seguridad['Departamento']=df_seguridad['Departamento'].apply(get_departamento)

In [146]:
df_efectividad.to_csv("./data/IndicadoresIPS/efectividad.csv",index=False)
df_atencion.to_csv("./data/IndicadoresIPS/atencion.csv",index=False)
df_seguridad.to_csv("./data/IndicadoresIPS/seguridad.csv",index=False)